.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.folder {
  width: 100px;
  height: 100px;
  background: #11e2e238;
  border-radius: 0px 50px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.folder-space {
  display: flex;
  flex-direction: row;
}

.breadcrumbs {
  display: flex;
  margin: 10px;
}

.breadcrumbs-title {
  background: #efd30e4a;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}
